node_modules
.pnpm-store
.turbo
.next
dist
build
out
.DS_Store
*.log
.env
.env.local
.env.*.local
!.env.example
coverage
.vercel
.cache
.parcel-cache
*.tsbuildinfo
.idea
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
playwright-report
test-results
storybook-static
chromatic.log
.minio
.postgres-data
.redis-data
.caddy-data
.evolution-data
.tmp
backups
volumes
*.local.sh
*.local.ts
